.footer{
background-color: #000;
padding-top: 3rem;
padding-bottom: 3rem;
}
.topfooter{
display: flex;
justify-content: space-between;
align-items: center;
}
.logo{
    text-decoration: none;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 2px;
}
.number{
	display: flex;
	align-items: center;
}
.phone{
    display: block;
    font-size: 20px;
    font-weight: 500;
    margin-right: 20px;
}
.phone img{
    display: none;
}
.social img{
	width: 2rem;
	height: 2rem;
	margin: 0 0.5rem;
}
.phone{
    color: #fff;
    text-decoration: none;
}
.phone:hover{
    text-decoration: underline;
}
@media screen and (max-width: 662px){
    .topfooter{
        flex-direction: column;
    }
    .number{
        margin-top: 3rem;
    }
    .phone{
        font-size: 0;
        margin-right: 5px;
    }
    .phone img,
    .social img{
	width: 3rem;
	height: 3rem;
    display: block;
    }
}